
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab|Oswald&display=swap');
@font-face { 
    font-family: 'Montserrat'; 
    src: url('fonts/montserrat-v14-latin-regular.woff2') 
}
body {
    background-color: yellow;
  }
  
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    text-align: center;
  }
  
p.Montserrat {
    font-family: 'Montserrat', cursive;
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
  }
  
p.Oswald {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
  }
  
p.Kelly {
    font-family: 'Kelly Slab', cursive;
    font-size: 3.5rem;
    text-align: right;
  }
  